{% extends 'maitaxi/base.html' %}
{% load static %}

{% block content %}
<h2>{{title}}</h2>
<hr>
<div>
    Данный проект представляет собой создание web-приложения такси на основе Django
    для backend и JavaScript, HTML, CSS для frontend разработки. В приложении пользователи
    смогут зарегистрироваться, заказывать такси, просматривать историю поездок и оценивать
    водителей. Комбинация функциональности на серверной и клиентской сторонах сделает приложение
    удобным и интуитивно понятным для пользователей, обеспечивая им полный контроль над заказами
    такси и персональными настройками.
</div>
<p>Подробнее <b><a href="https://docs.google.com/document/d/1E9tAdZT7uYN8FoZY_C3oCNgzILmKtrdsNLc7biiwS-w/edit">Здесь</a></b></p>
{% endblock %}