* {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
body.history {
    height: auto;
=======
body {
    height: 2000px;
>>>>>>> 6df0bbfb25bb29e49518412a6a466b7039d193d1
    width: 500px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin-top: 10%;
}

footer {
    filter: opacity(0);
}

footer h2 {
    font-size: 2.5em;
}

.history {
    /* text-align: left; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history_h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 40px;
}

.trip-info{
    margin: 3%;
}